@model PA.Models.IDModel;
@{
    ViewData["Title"] = "Test Depresion";
}
<style>
    .btn {
        background: linear-gradient(#6a1bd1,#db88ff);
        border: 2px solid black;
        margin-left: 70px;
    }

        .btn:hover {
            background: linear-gradient(#6a1bd1,#db88ff);
            opacity: 0.5;
        }

    .test2 h1 {
        border-radius: 10px;
        color: #af276b;
    }

    .test2 {
        padding: 40px;
        margin: 10px;
    }

        .test2 input {
            background-color: #ffe8fb;
        }
</style>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="test2">
    <h1>TEST DEPRESION</h1>
    <br />
    <form asp-action="ResultadosDepresion" method="post">
        <fieldset>
            @foreach (var fila in @ViewBag.p1.Rows)
            {
                <tr>
                    <td>@fila["No_Pregunta"].</td>
                    <td>@fila["Pregunta"]</td>
                </tr>
            }
            <div>
                <div>
                    <input type="radio" name="OP1" value="1" required>
                    <label for="OP1" required>En Absoluto</label>
                </div>

                <div>
                    <input type="radio" name="OP1" value="2" required>
                    <label for="OP1" required>Levemente</label>
                </div>

                <div>
                    <input type="radio" name="OP1" value="3" required>
                    <label for="OP1" required>Moderadamente</label>
                </div>
                <div>
                    <input type="radio" name="OP1" value="4" required>
                    <label for="OP1" required>Severamente</label>
                </div>
            </div>
        </fieldset>
        <br />
        <br />
        <fieldset>
            @foreach (var fila in @ViewBag.p2.Rows)
            {
                <tr>
                    <td>@fila["No_Pregunta"].</td>
                    <td>@fila["Pregunta"]</td>
                </tr>
            }
            <div>
                <input type="radio" name="OP2" value="1" required>
                <label for="OP2" required>En Absoluto</label>
            </div>

            <div>
                <input type="radio" name="OP2" value="2" required>
                <label for="OP2" required>Levemente</label>
            </div>

            <div>
                <input type="radio" name="OP2" value="3" required>
                <label for="OP2" required>Moderadamente</label>
            </div>
            <div>
                <input type="radio" name="OP2" value="4" required>
                <label for="OP2" required>Severamente</label>
            </div>
        </fieldset>
        <br />
        <br />
        <fieldset>
            @foreach (var fila in @ViewBag.p3.Rows)
            {
                <tr>
                    <td>@fila["No_Pregunta"].</td>
                    <td>@fila["Pregunta"]</td>
                </tr>
            }
            <div>
                <input type="radio" name="OP3" value="1" required>
                <label for="OP3" required>En Absoluto</label>
            </div>

            <div>
                <input type="radio" name="OP3" value="2" required>
                <label for="OP3" required>Levemente</label>
            </div>

            <div>
                <input type="radio" name="OP3" value="3" required>
                <label for="OP3" required>Moderadamente</label>
            </div>
            <div>
                <input type="radio" name="OP3" value="4" required>
                <label for="OP3" required>Severamente</label>
            </div>
        </fieldset>
        <br />
        <br />
        <fieldset>
            @foreach (var fila in @ViewBag.p4.Rows)
            {
                <tr>
                    <td>@fila["No_Pregunta"].</td>
                    <td>@fila["Pregunta"]</td>
                </tr>
            }
            <div>
                <input type="radio" name="OP4" value="1" required>
                <label for="OP4" required>En Absoluto</label>
            </div>

            <div>
                <input type="radio" name="OP4" value="2" required>
                <label for="OP4" required>Levemente</label>
            </div>

            <div>
                <input type="radio" name="OP4" value="3" required>
                <label for="OP4" required>Moderadamente</label>
            </div>
            <div>
                <input type="radio" name="OP4" value="4" required>
                <label for="OP4" required>Severamente</label>
            </div>
        </fieldset>
        <br />
        <br />
        <fieldset>
            @foreach (var fila in @ViewBag.p5.Rows)
            {
                <tr>
                    <td>@fila["No_Pregunta"].</td>
                    <td>@fila["Pregunta"]</td>
                </tr>
            }
            <div>
                <input type="radio" name="OP5" value="1" required>
                <label for="OP5" required>En Absoluto</label>
            </div>

            <div>
                <input type="radio" name="OP5" value="2" required>
                <label for="OP5" required>Levemente</label>
            </div>

            <div>
                <input type="radio" name="OP5" value="3" required>
                <label for="OP5" required>Moderadamente</label>
            </div>
            <div>
                <input type="radio" name="OP5" value="4" required>
                <label for="OP5" required>Severamente</label>
            </div>
        </fieldset>
        <br />
        <br />
        <fieldset>
            @foreach (var fila in @ViewBag.p6.Rows)
            {
                <tr>
                    <td>@fila["No_Pregunta"].</td>
                    <td>@fila["Pregunta"]</td>
                </tr>
            }
            <div>
                <input type="radio" name="OP6" value="1" required>
                <label for="OP6" required>En Absoluto</label>
            </div>

            <div>
                <input type="radio" name="OP6" value="2" required>
                <label for="OP6" required>Levemente</label>
            </div>

            <div>
                <input type="radio" name="OP6" value="3" required>
                <label for="OP6" required>Moderadamente</label>
            </div>
            <div>
                <input type="radio" name="OP6" value="4" required>
                <label for="OP6" required>Severamente</label>
            </div>
        </fieldset>
        <br />
        <br />
        <fieldset>
            @foreach (var fila in @ViewBag.p7.Rows)
            {
                <tr>
                    <td>@fila["No_Pregunta"].</td>
                    <td>@fila["Pregunta"]</td>
                </tr>
            }
            <div>
                <input type="radio" name="OP7" value="1" required>
                <label for="OP7" required>En Absoluto</label>
            </div>

            <div>
                <input type="radio" name="OP7" value="2" required>
                <label for="OP7" required>Levemente</label>
            </div>

            <div>
                <input type="radio" name="OP7" value="3" required>
                <label for="OP7" required>Moderadamente</label>
            </div>
            <div>
                <input type="radio" name="OP7" value="4" required>
                <label for="OP7" required>Severamente</label>
            </div>
        </fieldset>
        <br />
        <br />
        <fieldset>
            @foreach (var fila in @ViewBag.p8.Rows)
            {
                <tr>
                    <td>@fila["No_Pregunta"].</td>
                    <td>@fila["Pregunta"]</td>
                </tr>
            }
            <div>
                <input type="radio" name="OP8" value="1" required>
                <label for="OP8" required>En Absoluto</label>
            </div>

            <div>
                <input type="radio" name="OP8" value="2" required>
                <label for="OP8" required>Levemente</label>
            </div>

            <div>
                <input type="radio" name="OP8" value="3" required>
                <label for="OP8" required>Moderadamente</label>
            </div>
            <div>
                <input type="radio" name="OP8" value="4" required>
                <label for="OP8" required>Severamente</label>
            </div>
        </fieldset>
        <br />
        <br />
        <fieldset>
            @foreach (var fila in @ViewBag.p9.Rows)
            {
                <tr>
                    <td>@fila["No_Pregunta"].</td>
                    <td>@fila["Pregunta"]</td>
                </tr>
            }
            <div>
                <input type="radio" name="OP9" value="1" required>
                <label for="OP9" required>En Absoluto</label>
            </div>

            <div>
                <input type="radio" name="OP9" value="2" required>
                <label for="OP9" required>Levemente</label>
            </div>

            <div>
                <input type="radio" name="OP9" value="3" required>
                <label for="OP9" required>Moderadamente</label>
            </div>
            <div>
                <input type="radio" name="OP9" value="4" required>
                <label for="OP9" required>Severamente</label>
            </div>
        </fieldset>
        <br />
        <br />
        <fieldset>
            @foreach (var fila in @ViewBag.p10.Rows)
            {
                <tr>
                    <td>@fila["No_Pregunta"].</td>
                    <td>@fila["Pregunta"]</td>
                </tr>
            }
            <div>
                <input type="radio" name="OP10" value="1" required>
                <label for="OP10" required>En Absoluto</label>
            </div>

            <div>
                <input type="radio" name="OP10" value="2" required>
                <label for="OP10" required>Levemente</label>
            </div>

            <div>
                <input type="radio" name="OP10" value="3" required>
                <label for="OP10" required>Moderadamente</label>
            </div>
            <div>
                <input type="radio" name="OP10" value="4" required>
                <label for="OP10" required>Severamente</label>
            </div>
        </fieldset>
        <br />
        <br />
        <fieldset>
            @foreach (var fila in @ViewBag.p11.Rows)
            {
                <tr>
                    <td>@fila["No_Pregunta"].</td>
                    <td>@fila["Pregunta"]</td>
                </tr>
            }
            <div>
                <input type="radio" name="OP11" value="1" required>
                <label for="OP11" required>En Absoluto</label>
            </div>

            <div>
                <input type="radio" name="OP11" value="2" required>
                <label for="OP11" required>Levemente</label>
            </div>

            <div>
                <input type="radio" name="OP11" value="3" required>
                <label for="OP11" required>Moderadamente</label>
            </div>
            <div>
                <input type="radio" name="OP11" value="4" required>
                <label for="OP11" required>Severamente</label>
            </div>
        </fieldset>
        <br />
        <br />
        <fieldset>
            @foreach (var fila in @ViewBag.p12.Rows)
            {
                <tr>
                    <td>@fila["No_Pregunta"].</td>
                    <td>@fila["Pregunta"]</td>
                </tr>
            }
            <div>
                <input type="radio" name="OP12" value="1" required>
                <label for="OP12" required>En Absoluto</label>
            </div>

            <div>
                <input type="radio" name="OP12" value="2" required>
                <label for="OP12" required>Levemente</label>
            </div>

            <div>
                <input type="radio" name="OP12" value="3" required>
                <label for="OP12" required>Moderadamente</label>
            </div>
            <div>
                <input type="radio" name="OP12" value="4" required>
                <label for="OP12" required>Severamente</label>
            </div>
        </fieldset>
        <br />
        <br />
        <fieldset>
            @foreach (var fila in @ViewBag.p13.Rows)
            {
                <tr>
                    <td>@fila["No_Pregunta"].</td>
                    <td>@fila["Pregunta"]</td>
                </tr>
            }
            <div>
                <input type="radio" name="OP13" value="1" required>
                <label for="OP13" required>En Absoluto</label>
            </div>

            <div>
                <input type="radio" name="OP13" value="2" required>
                <label for="OP13" required>Levemente</label>
            </div>

            <div>
                <input type="radio" name="OP13" value="3" required>
                <label for="OP13" required>Moderadamente</label>
            </div>
            <div>
                <input type="radio" name="OP13" value="4" required>
                <label for="OP13" required>Severamente</label>
            </div>
        </fieldset>
        <br />
        <br />
        <fieldset>
            @foreach (var fila in @ViewBag.p14.Rows)
            {
                <tr>
                    <td>@fila["No_Pregunta"].</td>
                    <td>@fila["Pregunta"]</td>
                </tr>
            }
            <div>
                <input type="radio" name="OP14" value="1" required>
                <label for="OP14" required>En Absoluto</label>
            </div>

            <div>
                <input type="radio" name="OP14" value="2" required>
                <label for="OP14" required>Levemente</label>
            </div>

            <div>
                <input type="radio" name="OP14" value="3" required>
                <label for="OP14" required>Moderadamente</label>
            </div>
            <div>
                <input type="radio" name="OP14" value="4" required>
                <label for="OP14" required>Severamente</label>
            </div>
        </fieldset>
        <br />
        <br />
        <fieldset>
            @foreach (var fila in @ViewBag.p15.Rows)
            {
                <tr>
                    <td>@fila["No_Pregunta"].</td>
                    <td>@fila["Pregunta"]</td>
                </tr>
            }
            <div>
                <input type="radio" name="OP15" value="1" required>
                <label for="OP15" required>En Absoluto</label>
            </div>

            <div>
                <input type="radio" name="OP15" value="2" required>
                <label for="OP15" required>Levemente</label>
            </div>

            <div>
                <input type="radio" name="OP15" value="3" required>
                <label for="OP15" required>Moderadamente</label>
            </div>
            <div>
                <input type="radio" name="OP15" value="4" required>
                <label for="OP15" required>Severamente</label>
            </div>
        </fieldset>
        <br />
        <br />
        <fieldset>
            @foreach (var fila in @ViewBag.p16.Rows)
            {
                <tr>
                    <td>@fila["No_Pregunta"].</td>
                    <td>@fila["Pregunta"]</td>
                </tr>
            }
            <div>
                <input type="radio" name="OP16" value="1" required>
                <label for="OP16" required>En Absoluto</label>
            </div>

            <div>
                <input type="radio" name="OP16" value="2" required>
                <label for="OP16" required>Levemente</label>
            </div>

            <div>
                <input type="radio" name="OP16" value="3" required>
                <label for="OP16" required>Moderadamente</label>
            </div>
            <div>
                <input type="radio" name="OP16" value="4" required>
                <label for="OP16" required>Severamente</label>
            </div>
        </fieldset>
        <br />
        <br />
        <fieldset>
            @foreach (var fila in @ViewBag.p17.Rows)
            {
                <tr>
                    <td>@fila["No_Pregunta"].</td>
                    <td>@fila["Pregunta"]</td>
                </tr>
            }
            <div>
                <input type="radio" name="OP17" value="1" required>
                <label for="OP17" required>En Absoluto</label>
            </div>

            <div>
                <input type="radio" name="OP17" value="2" required>
                <label for="OP17" required>Levemente</label>
            </div>

            <div>
                <input type="radio" name="OP17" value="3" required>
                <label for="OP17" required>Moderadamente</label>
            </div>
            <div>
                <input type="radio" name="OP17" value="4" required>
                <label for="OP17" required>Severamente</label>
            </div>
        </fieldset>
        <br />
        <br />
        <fieldset>
            @foreach (var fila in @ViewBag.p18.Rows)
            {
                <tr>
                    <td>@fila["No_Pregunta"].</td>
                    <td>@fila["Pregunta"]</td>
                </tr>
            }
            <div>
                <input type="radio" name="OP18" value="1" required>
                <label for="OP18" required>En Absoluto</label>
            </div>

            <div>
                <input type="radio" name="OP18" value="2" required>
                <label for="OP18" required>Levemente</label>
            </div>

            <div>
                <input type="radio" name="OP18" value="3" required>
                <label for="OP18" required>Moderadamente</label>
            </div>
            <div>
                <input type="radio" name="OP18" value="4" required>
                <label for="OP18" required>Severamente</label>
            </div>
        </fieldset>
        <br />
        <br />
        <fieldset>
            @foreach (var fila in @ViewBag.p19.Rows)
            {
                <tr>
                    <td>@fila["No_Pregunta"].</td>
                    <td>@fila["Pregunta"]</td>
                </tr>
            }
            <div>
                <input type="radio" name="OP19" value="1" required>
                <label for="OP19" required>En Absoluto</label>
            </div>

            <div>
                <input type="radio" name="OP19" value="2" required>
                <label for="OP19" required>Levemente</label>
            </div>

            <div>
                <input type="radio" name="OP19" value="3" required>
                <label for="OP20" required>Moderadamente</label>
            </div>
            <div>
                <input type="radio" name="OP19" value="4" required>
                <label for="OP19" required>Severamente</label>
            </div>
        </fieldset>
        <br />
        <br />
        <fieldset>
            @foreach (var fila in @ViewBag.p20.Rows)
            {
                <tr>
                    <td>@fila["No_Pregunta"].</td>
                    <td>@fila["Pregunta"]</td>
                </tr>
            }
            <div>
                <input type="radio" name="OP20" value="1" required>
                <label for="OP20" required>En Absoluto</label>
            </div>

            <div>
                <input type="radio" name="OP20" value="2" required>
                <label for="OP20" required>Levemente</label>
            </div>

            <div>
                <input type="radio" name="OP20" value="3" required>
                <label for="OP20" required>Moderadamente</label>
            </div>
            <div>
                <input type="radio" name="OP20" value="4" required>
                <label for="OP20" required>Severamente</label>
            </div>
        </fieldset>
        <br />
        <br />
        <fieldset>
            @foreach (var fila in @ViewBag.p21.Rows)
            {
                <tr>
                    <td>@fila["No_Pregunta"].</td>
                    <td>@fila["Pregunta"]</td>
                </tr>
            }
            <div>
                <input type="radio" name="OP21" value="1" required>
                <label for="OP21" required>En Absoluto</label>
            </div>

            <div>
                <input type="radio" name="OP21" value="2" required>
                <label for="OP21" required>Levemente</label>
            </div>

            <div>
                <input type="radio" name="OP21" value="3" required>
                <label for="OP21" required>Moderadamente</label>
            </div>
            <div>
                <input type="radio" name="OP21" value="4" required>
                <label for="OP21" required>Severamente</label>
            </div>
        </fieldset>
        <br />
        <br />
        <hr />
        <br />
        INGRESA TU ID: <input asp-for="_ID" required class="form-control" />
        <section class="Padre">
            <button type="submit" class="btn">CONTINUAR</button>
            <a asp-action="Index" class="btn"><i> INICIO</i></a>
        </section>
    </form>
        <br />
        <br />
        <br />
        <br />
</div>

